body{
    background: darkgrey;
}


form{
    text-align: center;
}


.container{
    height: 240px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.loading{
    position: relative;
    text-align: center;
}

.th{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.mfp-title{
    display: none;
}




.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}